* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    float: none;
    margin-bottom: 20px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 4em;
    color: white;
    text-shadow: cornsilk 2px;
    font-weight: bold;
    background-color: #770099;
    width: 100%;
}

div {
    margin-left: 15%;
    max-width: 900px;
    max-height: 1000px;
    display: inline-block;
    font-size: 0;
    align-items: stretch; 
}

.node {
    display: inline-block;
    background-color: white;
    margin: 0 auto;
    padding: 0 auto;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 16px;
    max-width: 800px;
    width: 30px;
    height: 30px;
    text-align: justify;
    border: 1px solid;
    border-color: #770099;
    align-items: stretch;
}

button {
    float: center;
    background-color: #770099;
    color: white;
    border: solid;
    border-color: black;
    border-radius: 5%;
    border-width: 2px;
    padding: 0.7em;
    width: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

button#black {
    margin-left: 17%;    
}

button#clear {
    color: black;
    background-color: #dedede;
    width: 25%;
    margin-left: 5%;
}

button#custom {
    color: black;
    background-color: #dedede;
    width: 25%;
}


